/* Bounce Animation */
@keyframes bounceAnim {
    0% {
        transform: translateY(0.5rem);
    }
    50% {
        transform: translateY(-0.5rem);
    }
    100% {
        transform: translateY(0.5rem);
    }
}

/* Main Wrapper */
.Wrapper {
    overflow-x: hidden;
}

/* Viewport size Pages */
.ViewportPage {
    height: 100vh;
    padding-inline: 7vw;
    padding-block-start: 8vh;
}

/* Column Flex */
.ColFlexWrap {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Row Flex */
.RowFlexWrap {
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* White Base Text */
.WhiteNormText {
    color: #f0ffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Bounce Animation for Images */
.BounceImg {
    transform: translateY(0.5rem);
    animation-name: bounceAnim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}