.ContentWrap {
    background-image: linear-gradient(to top, #9948d9, #3c006b);
    background-image: -moz-linear-gradient(to top, #9948d9, #3c006b);
    background-image: -webkit-linear-gradient(to top, #9948d9, #3c006b);
    border-style: solid;
    border-width: 0.25vw;
    border-color: #0e0057
}