@keyframes expandMenu {
    0% {
        transform: scaleY(0%);
    }

    100% {
        transform: scaleY(100%);
    }
}

@keyframes collapseMenu {
    0% {
        transform: scaleY(100%);
    }

    100% {
        transform: scaleY(0%);
    }
}

@media screen and (min-width: 890px) {
    .ExpandingNav {
        display: none;
    }

    .FixedNav {
        display: inline;
    }

    .NavBg {
        display: flex;
        background-color: #252525;
        height: 6.5vh;
        top: 0;
        width: 100vw;
        padding-top: 0.65rem;
        padding-inline: 7.5vw;
    }

    .NavButton {
        background-color: #252525;
        color: #FFFFFF;
        font-size: 2.5vh;
        box-sizing: border-box;
        width: 9vw;
        padding: 0;
        text-decoration: none;
        top: 0;
        border: none;
        text-align: center;
    }

    .NavButton:hover {
        cursor: pointer;
        color: #bdbdbd;
    }

    .NavButton:focus {
        color: coral;
    }

    .GitHubButton {
        float: right;
        width: 5.5vw;
        height: 2.5vw;
        margin-right: 0;
        border-width: 0.15vw;
        border-color: #ffffff;
        border-radius: 0.35vw;
        background-color: #4d00c1ec;
        color: #d6d6d6;
        padding-top: 0.15%;
        font-size: 2.5vh;
        text-align: center;
    }

    .GitHubButton:hover {
        cursor: pointer;
        background-color: #340082;
        color: #acacac;
        border-color: #eaeaea;
    }
}

@media screen and (max-width: 890px) {
    .ExpandingNav {
        display: inline;
    }

    .FixedNav {
        display: none;
    }

    .NavBg {
        display: flex;
        background-color: #252525;
        height: 3.375rem;
        top: 0;
        width: 100vw;
        padding-top: 0.75rem;
        padding-left: 1vw;
    }

    /* .toggleLinks {
        display: inline-block;
        margin: 0;
        height: 0;
    } */

    .ExpandToggle {
        width: '3rem';
        height: '1.375rem';
        background-color: #252525;
        color: #FFFFFF;
        font-size: 1.375rem;
        padding: 0.25vh;
        text-decoration: none;
        top: 0;
        border: none;
    }

    .ExpandToggle:hover {
        cursor: pointer;
        color: #bdbdbd;
    }

    .ExpandButtons {
        background-color: #252525;
        color: #FFFFFF;
        font-size: 1.2rem;
        width: 100%;
        height: auto;
        padding: 1.625vh;
        margin: 0;
        text-align: left;
        text-decoration: none;
        border-left: 0;
        border-right: 0;
        border-top: 1px;
        border-color: rgb(225, 225, 225);
    }

    .ExpandButtons:hover {
        cursor: pointer;
    }

    .openHamburger {
        /* max-height: 38vh;
        transition: max-height 0.3s ease-in; */
        transform-origin: top center;
        animation-name: expandMenu;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
        -webkit-animation-name: expandMenu;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-in;
    }

    .closeHamburger {
        /* max-height: 0vh;
        transition: max-height 0.3s ease-out; */
        transform-origin: top center;
        animation-name: collapseMenu;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        -webkit-animation-name: collapseMenu;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-out;
    }
}