* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  background-color: #121212;
}

img {
  border-style: solid;
  border-color: rgb(100, 100, 100);
}

@media only screen and (orientation: landscape) {
  .Paragraphs {
    font-size: 1.5vw;
  }

  .Headings {
    font-size: 3.25vw;
    padding-bottom: 0.5vw;
  }
}

@media only screen and (orientation: portrait) {
  .Paragraphs {
    font-size: 2.75vw;
  }

  .Headings {
    font-size: 3vh;
    padding-bottom: 0.5vh;
  }
}