* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  background-color: #121212;
}

img {
  border-style: solid;
  border-color: #f4f1de;
}

a {
  text-decoration: none;
  color: #f4f1de;
}

p {
  color: #f4f1de;
}

.PointeronHover:hover {
  cursor: pointer;
}

@media screen and (min-width: 1900px) {
  .Paragraphs {
    font-size: 2.25rem;
  }

  .Headings {
    font-size: 3.4rem;
    padding-bottom: 0.5vw;
  }

  .PicTitles {
    font-size: 4.2rem;
    padding-bottom: 0.5vw;
  }

  .Title {
    font-size: 5rem;
    padding-bottom: 0.75vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media screen and (max-width: 1900px) and (min-width: 1023px) {
  .Paragraphs {
    font-size: 1.35rem;
  }

  .Headings {
    font-size: 2.5rem;
    padding-bottom: 0.5vw;
  }

  .PicTitles {
    font-size: 3.3rem;
    padding-bottom: 0.5vw;
  }

  .Title {
    font-size: 4.1rem;
    padding-bottom: 0.75vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {
  .Paragraphs {
    font-size: 1.15rem;
  }

  .Headings {
    font-size: 2.3rem;
    padding-bottom: 0.5vw;
  }

  .PicTitles {
    font-size: 3.1rem;
    padding-bottom: 0.5vw;
  }

  .Title {
    font-size: 4rem;
    padding-bottom: 0.75vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media screen and (max-width: 769px) and (min-width: 500px) {
  .Paragraphs {
    font-size: 1rem;
  }

  .Headings {
    font-size: 2.15rem;
    padding-bottom: 0.5vh;
  }

  .PicTitles {
    font-size: 2.95rem;
    padding-bottom: 0.5vw;
  }

  .Title {
    font-size: 3.75rem;
    padding-bottom: 0.75vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media screen and (max-width: 500px) {
  .Paragraphs {
    font-size: 0.75rem;
  }

  .Headings {
    font-size: 1.9rem;
    padding-bottom: 0.5vh;
  }

  .PicTitles {
    font-size: 1.9rem;
    padding-bottom: 0.5vw;
  }

  .Title {
    font-size: 3.5rem;
    padding-bottom: 0.75vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}